.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 32px;
}

.cardWrapper{
    width: 150px;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #603F83FF;
    gap: 10px;
    color: #D3C5E5;
}
.cardWrapper img{
    width: 100%;
    border-radius: 10px;
}
.cardWrapper button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #D3C5E5;
    cursor: pointer;
    color: black;
}
.cardWrapper button:hover{
    
    background-color: #FEE715FF;
    color: #00203FFF;
}