*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style-type:none ;
  text-decoration: none;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #D3C5E5;
}
.appWrapper{
  text-align: center;
}


